# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
backend/venv/

# Environment Variables
.env
backend/.env

# Alembic
alembic/versions/__pycache__/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db


# Behavior analysis test files
backend/test_posture.mp4
backend/test_posture_landmarks.mp4
backend/test_audio.mp3

# MediaPipe model
backend/app/services/behavior/models/*.task


backend/recordings/
backend/test_posture.mp4
backend/test_posture_landmarks.mp4
backend/test_audio.mp3
backend/app/services/behavior/models/*.task