# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
backend/venv/

# Environment Variables
.env
backend/.env

# Alembic
alembic/versions/__pycache__/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db